<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBb4v2D7ggW2SKmfoon77dY1nCl0rXQnHw</string>
	<key>GCM_SENDER_ID</key>
	<string>507585657946</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>Michael-Yang.InstagramClone</string>
	<key>PROJECT_ID</key>
	<string>instagramclone-7769e</string>
	<key>STORAGE_BUCKET</key>
	<string>instagramclone-7769e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:507585657946:ios:142c272a2554004a992c63</string>
</dict>
</plist>